/* Main container styles */

.mainContainer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
}

.avatarContainer{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.avatar{
  margin: 2rem; 
  height: 30vh;
  width: 30vh;
}

.cardContainer{
  display: flex;
  align-self: center;
  flex-wrap: wrap;
  width: 70%;
  align-items: center;
  justify-content: center;
  background-color: whitesmoke;
  color: black;
  border-radius: 1rem;
}

.title{
  font-size: 2.5rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
  width: 100%;
  text-align: center;
  font-weight: bolder;
  margin-block-start: 0.33em;
  margin-block-end: 0.13em;
}

.hr {
  width: 100%;
  border: 0;
  text-align: center;
}
.hr:before {
  content: "\2022 \2022 \2022 \2022 \2022 \2022 \2022";
  font-size: 50px;
  color: #4F8BCA;
}

.skill{
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 1rem 0;
  font-weight: 600;
}

.skillsContainer{
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  align-items: center;
  justify-content: center;
  align-self: center;
  background-color: whitesmoke;
  color: black;
  list-style-type: none;
  padding-inline-start: 0px;
}

.icon{
  margin: 1rem;
  align-items: center;
}