@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;700&display=swap');


body {
  background: #12c2e9;  /* fallback for old browsers */
  background: white;
}

*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e2e8f0;
    font-family: 'Roboto Slab', serif;
}
