@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;700&display=swap');


body {
  background: #12c2e9;  /* fallback for old browsers */
  background: white;
}

*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e2e8f0;
    font-family: 'Roboto Slab', serif;
}

.underlineEffect {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15em;
  
  display: inline-block;
  position: relative;
}

.underlineEffect:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.underlineEffect:hover:after { 
  width: 100%; 
  left: 0; 
}

